// Style of list which has an icon (default aligned to left, text to the right)
// Example is the footer addresss
.list-icon {
	li {
		display: flex;
		align-items: flex-start;
		margin-bottom: $s-xs;
	}
}

.list-icon-text {
	padding-left: $s-sm;

	h5 {
		margin-bottom: 0;
		font-size: $h5-font-size * .7;
		font-weight: 600;
		text-transform: uppercase;
	}
}

// multi columns
.list-col-2 {
	@include media-breakpoint-up(md) {
		column-count: 2;
	}
}

.list-col-3 {
	@include media-breakpoint-up(md) {
		column-count: 3;
	}
}

.list-col-4 {
	@include media-breakpoint-up(md) {
		column-count: 4;
	}
}

// apply list group styling to multi column list
[class*='list-col-'],
[class^='list-col-'] {
	&.list-border-b {
		li {
			padding: $s-xs;
			border-bottom: 1px solid gray('300');
			break-inside: avoid;
		}
	}
}
