.carousel-multi-item {
    .carousel-item {
        &.active,
        &-next,
        &-prev {
            display: flex;
        }

		&-left,
		&-right {
			transform: translateX(0);
		}

		&-next {
			transform: translateX(25%);
		}

		&-prev {
			transform: translateX(-25%);
		}
    }

	.carousel-item-right {
		.active {
			transform: translateX(25%);
		}
	}

    .carousel-item-left {
		.active {
			transform: translateX(-25%);
		}
	}
}
