.jumbotron {
	min-height: $s-jumbotron-height-xs;

	@include media-breakpoint-up(md) {
		min-height: $s-jumbotron-height-md;
	}

	@include media-breakpoint-up(lg) {
		min-height: $s-jumbotron-height-lg;
	}

	@include media-breakpoint-up(xl) {
		min-height: $s-jumbotron-height-xl;
	}
}

.jumbotron-main {
	h1 {
		margin-top: $s-md;
		margin-bottom: $s-md;
		color: $c-jumbotron-h1;
		font-size: $h1-font-size * 1.5;

		@include media-breakpoint-up(md) {
			font-size: $h1-font-size * 2;
		}

		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
	}

	h2 {
		margin-bottom: $s-md;
		background-color: $c-jumbotron-h2-bg;
		color: $c-jumbotron-h2;
		font-size: $h2-font-size;
		text-transform: uppercase;

		@include media-breakpoint-up(md) {
			font-size: $h2-font-size;
		}

		@include media-breakpoint-up(xl) {
			font-size: $h2-font-size * 1.5;
		}
	}

	.lead {
		margin-bottom: $s-md;
		color: gray('600');
	}
}

.jumbotron-text {
	align-items: center;
	justify-content: center;
	text-align: center;

	@include media-breakpoint-up(md) {
		align-items: flex-start;
		text-align: left;
	}
}

.jumbotron-img {
	align-items: center;
	justify-content: center;
}
