.section-work-with-us {
    li {
        display: flex;
        align-items: flex-start;
        margin-bottom: $s-xs;
        font-size: $font-size-base * .8;
        line-height: 1.8;
    }

    .fas {
        margin-right: $s-xs;
        border-radius: 50%;
        color: $primary;
        font-size: $h4-font-size;
    }
}

.social {
	display: flex;

	a {
		display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 2px;
		border-radius: 50%;
        color: $white;
		line-height: 40px;
		text-align: center;
    }

    .twitter {
		a {
	        background-color: $c-twitter;
	    }
	}

    .pinterest {
		a {
			background-color: $c-pinterest;
		}
	}

	.facebook {
		a {
	        background-color: $c-facebook;
	    }
	}

	.g-plus {
		a {
	        background-color: $c-g-plus;
	    }
	}

	.vimeo {
		a {
	        background-color: $c-vimeo;
	    }
	}

	.instagram {
		a {
	        background-color: $c-instagram;
	    }
	}
}

.contact-us-area {
    .social {
        margin-bottom: $s-lg;
        padding-left: 0;

        li {
            display: inline-flex;


        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: $white;
            text-align: center;
        }
    }
}

.contact-form {
    h2 {
        text-transform: none;
    }

    .form-group {
        width: 100%;
    }

    .form-control {
		border: 1px solid gray('500'); //#e7e7e7;
		color: gray('500'); // #232323;
        font-size: $font-size-sm;
        box-shadow: none;
    }

    textarea {
          min-height: 300px;
    }

    button {
        i {
            padding-left: $s-xs;
        }
    }
}

///
// Newsletter / Campaign Monitor
///
.section-newsletter {
	.cmApp_signupContainer {
		padding-top: 0;

		label {
			color: $white;
		}
	}
}
