///
// This is for the display posts plugin. Classes have been added to the plugin
// So be careful when updating the plugin! Added card and card-blog-post to the $class array ('listing-item')
// added card-img-top to image class.
///

.listing-item {
    .wp-post-image {
        width: 100%;
        height: auto;
    }

	a {
		&.card-title {
			margin-bottom: $s-sm;
			padding-top: $s-md;
			padding-right: $s-md;
			padding-left: $s-md;
			color: gray('900');
			font-size: $h4-font-size;
			font-weight: 600;
			text-transform: capitalize;

			&:hover {
				color: $primary;
			}
		}
	}

	.excerpt-dash {
        display: none;
    }

    .card-text {
        padding-right: $s-md;
        padding-bottom: $s-md;
        padding-left: $s-md;
        font-size: $font-size-base * .9;
        line-height: $font-size-base * 1.8;
    }

    .btn {
        margin-top: $s-md;
    }
}
