///
// Override WordPress styling
///

// Take out the wrapper padding
.wrapper {
	padding: 0;

	&-footer-widgets {
		padding-top: $s-md + $s-sm;
		padding-bottom: $s-md + $s-sm;
	}
}

// How images are displayed in articles
.wp-block-image {
	figcaption {
		text-align: left;
	}
}

// Override recaptcha 3
.grecaptcha-badge {
	opacity: 0;
}
